body {
	color: white;
	background-color: black;
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 2vh;
}

div.centre {
	width: 100%;
	height: 100vh;
	position: fixed;
	float: left;
}

div.pioche {
	margin-left: 20%;
	padding-left: 15%;
	width: 30%;
	float: left;
}

div.carte_blanche {
	background-color: white;
	color: black;
}

div.carte_noire {
	background-color: black;
	color: white;
}

div.carte {
	border: 0.3vh solid white;
	display: inline-block;
	border-radius: 2vh;
	padding: 1vh;
	height: 24vh;
	width: 16vh;
}

div.div_carte {
	text-align: center;
	position: relative;
	display: inline-block;
	height: 26vh;
	width: 18vh;
	margin: 1vh;
}

div.carte span {
	display: table;
	text-align: left;
}

div.carte span.dos_carte {
	font-size: 3.5vh;
}

div.clear {
	display: inline-block;
}

a.bouton {

    color: white;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    padding: 5px 15px 5px 15px;
    border-radius: 7px;
    border: 2px solid white;
}

a.bouton:hover {
	color: black;
	background-color: white;
}

a.bouton:active {
	color: white;
	border-color: black;
}

div.main, div.propositions {
	padding-top: 10vh;
	width: 100%;
	height: 30vh;
	display: inline-block;
}

.clone {
	display: none !important;
}

span.szPseudo {
	white-space: nowrap;
}

img.szAvatar {
	width: 5vh;
	height: 5vh;
}

table.liste_joueurs {
	width: 40vh;
	text-align: left;
	font-size: 1.5vh;
}

span.szMessage {
	text-align: center;
	font-size: 70%;
	color: black;
	height: 5vh;
	width:100%;
	/*padding-top: 10px;*/
	display:block;
	text-overflow:'<br/>';
}

div.encaps_message {
	background-image: url("/philactere.png");
	background-repeat: round;
	/*height: 50px;
	width:170px;*/
	height: 0px;
	width: 0px;
	max-width: 10vw;
	display:block;
	float: right;
}

td.div_message {
	height: 5vh;
	width: 70%;
}

#szChat {
	float: left;
	margin-top: 5vh;
    margin-left: 10vh;
    width: 30vw;
    background-color: black;
    border-color: white;
    border-style: solid;
    border-radius: 5vh;
    color: white;
    padding-left: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.contenu_calque {
	position: absolute;
	top:20%;
	left: 33.33%;
	width: 33.33%;
	height: 30%;
	border: 2px solid white;
	background-color: black;
	border-radius: 10vh;
	box-shadow: 5px 5px 5px black;
}

.calque {
	text-align: center;
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
}

.message_central {
	position: fixed;
	width: 100%;
	top: 20vh;
	height: 60vh;
	z-index: 2;
}

img.img_loader {
	position: relative;
    height: 60%;
}

img.point_score {
	height: 3%;
}

.message_attente, .message {
	display: block;
	padding-top: 6vh;
}

.message_central .message {
	font-size: 3vh;
}

span.szStatut {
	font-size: 75%;
}