<div class="centre">
	<h1>Cards Against Humanity</h1>
	<div class="pioche">
		<div class="div_carte">
			<div class="carte carte_noire">
				<input type="hidden" class='nIdCarte'/>
				<span class="dos_carte">Cards<br/>Against<br/>Humanity</span>
				<span class="face_carte" style="display:none;">Ceci est une carte de test.</span>
			</div>
		</div>
		<div droppable="true" class="div_carte zone_depot">
			<div class="carte carte_blanche message_depot">
				<span class="face_carte">Déposez votre carte ici.</span>
				<span class="dos_carte" style="display: none;">Cards<br/>Against<br/>Humanity</span>
			</div>
		</div>
	</div>
	<table class="liste_joueurs">
		<tr class="clone un_joueur">
			<input type="hidden" name="nIdJoueur" class="nIdJoueur" value=""/>
			<td class="div_message">
				<div class="encaps_message">
					<span class="szMessage"></span>
				</div>
			</td>
			<td><img class="szAvatar" src="/userdefault.png"/></td><td><table><tr><td><span class="szPseudo"></span></td></tr><tr><td><span class="szStatut"></span></td></tr></table></td>
			<td class="score">
				<table>
					<tr>
						<td><img class="point_score vide" src="/point-vide.png"/></td>
						<td><img class="point_score vide" src="/point-vide.png"/></td>
						<td><img class="point_score vide" src="/point-vide.png"/></td>
						<td><img class="point_score vide" src="/point-vide.png"/></td>
						<td><img class="point_score vide" src="/point-vide.png"/></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<div class="clear"></div>
	<div class="main">
		<div class="div_carte clone">
			<div class="carte carte_blanche">
				<input type="hidden" class='nIdCarte'/>
				<span class="dos_carte">Cards<br/>Against<br/>Humanity</span>
				<span class="face_carte" style="display:none;">Ceci est une carte de test.</span>
			</div>
		</div>
		
	</div>
	<div class="propositions" style="display:none;">
		<div class="div_carte clone">
			<div class="carte carte_blanche">
				<input type="hidden" class='nIdCarte'/>
				<span class="face_carte">Ceci est une carte de test.</span>
			</div>
		</div>
		
	</div>
	<div class="clear"></div>
	<input type="text" placeholder="Votre message..." id="szChat"/>
</div>
<div class="calque calque_loader" style="dysplay: none;">
	<div class="contenu_calque">
		<span class="message_attente"></span>
		<img class="img_loader" src="/loader.gif"/>
	</div>
</div>

<div class="message_central" style="display: none;">
	<div class="contenu_calque" style="width: 0%;height: 0%;">
		<span class="message" style="opacity: 0"></span>
	</div>
</div>