<h1>Cards Against Humanity</h1>
<div class="centre">
	<div class="pioche">
		<div class="div_carte">
			<div draggable="true" class="carte carte_noire">
				<span class="dos_carte">Cards<br/>Against<br/>Humanity</span>
			</div>
		</div>
		<div class="div_carte">
			<div draggable="true" class="carte carte_blanche">
				<span>Déposez votre carte ici.</span>
			</div>
		</div>
	</div>
	<div class="liste_joueurs">
		<div class="clone un_joueur">
			<input type="hidden" name="nIdJoueur" class="nIdJoueur" value=""/>
			<div class="div_message">
				<div class="encaps_message">
					<span class="szMessage"></span>
				</div>
			</div>
			<span><img class="szAvatar" src="/userdefault.png"/><span class="szPseudo"></span></span>
		</div>
	</div>
	<div class="clear"></div>
	<div class="main">
		<div class="div_carte clone">
			<div draggable="true" class="carte carte_blanche">
				<input type="hidden" class='nIdCarte'/>
				<span class="dos_carte">Cards<br/>Against<br/>Humanity</span>
				<span class="face_carte" style="display:none;">Ceci est une carte de test.</span>
			</div>
		</div>
		
	</div>
	<input type="text" placeholder="Votre message..." id="szChat"/>
</div>